<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-loading [isOpen]="loading" message="Saving product..." spinner="circles"></ion-loading>
  
  <ion-toast
    *ngIf="toastMessage"
    [message]="toastMessage"
    [duration]="3000"
    position="bottom"
    (ionToastDidDismiss)="toastMessage = null"
  ></ion-toast>

  <ion-list>
    <ion-item *ngFor="let product of products; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="product.image" *ngIf="product.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price | currency }}</p>
      </ion-label>
      <ion-button (click)="deleteProduct(i)" color="danger">Delete</ion-button>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="newProduct.name" placeholder="Enter product name"></ion-input>
    <ion-note *ngIf="!newProduct.name" color="danger">Name is required</ion-note>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-input [(ngModel)]="newProduct.description" placeholder="Enter product description"></ion-input>
    <ion-note *ngIf="!newProduct.description" color="danger">Description is required</ion-note>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Price</ion-label>
    <ion-input type="number" [(ngModel)]="newProduct.price" placeholder="Enter product price"></ion-input>
    <ion-note *ngIf="newProduct.price === null || newProduct.price === 0" color="danger">Price is required</ion-note>
  </ion-item>

  <ion-item>
    <ion-button (click)="selectImage()">Select Image</ion-button>
    <img [src]="newProduct.image" *ngIf="newProduct.image" style="max-width: 100px; max-height: 100px; margin-left: 10px; border-radius: 5px;" />
    <ion-note *ngIf="!newProduct.image" color="danger" style="margin-left: 10px;">Image is required</ion-note>
  </ion-item>

  <ion-button expand="full" (click)="addProduct()" [disabled]="!newProduct.name || !newProduct.description || newProduct.price === null || !newProduct.image">Add Product</ion-button>
</ion-content>